GEMINI_API_KEY="MY_GEMINI_API_KEY"

APP_URL="https://your-frontend-app.example.com"
VITE_API_BASE_URL="https://your-backend-api.example.com"

COCKROACH_DB_URL="postgresql://username:password@host:26257/defaultdb?sslmode=require"
